@tailwind base;
@tailwind components;
@tailwind utilities;

.breadcrumb-wrapper .page-heading .breadcrumb-items li.style-2 {
    color: #000 !important;
    text-decoration: underline !important;
    -webkit-text-fill-color: #000 !important;
}